{% extends "base.html" %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">

            <div class="auth-icon">
                🔐
            </div>

            <p class="auth-small">
                WELCOME BACK
            </p>

            <h1>
                Login
            </h1>

            <p>
                Login to your account and continue shopping.
            </p>

        </div>


        {% if messages %}

            <div class="auth-messages">

                {% for message in messages %}

                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>

                {% endfor %}

            </div>

        {% endif %}


        <form method="POST">

            {% csrf_token %}


            <div class="auth-form-group">

                <label>
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter your username"
                    required
                    autocomplete="username"
                >

            </div>


            <div class="auth-form-group">

                <label>
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                    autocomplete="current-password"
                >

            </div>


            <button
                type="submit"
                class="auth-submit"
            >
                Login
            </button>

        </form>


        <div class="auth-footer">

            <p>
                Don't have an account?
            </p>

            <a href="{% url 'register' %}">
                Create an account
            </a>

        </div>

    </div>

</div>

{% endblock %}